.edit-block {
  a {
    padding: 0 3px;

    &:hover {
      text-decoration: none;
    }
  }
}

.mjs-nestedSortable-error {
  background: #fbe3e4;
  border-color: transparent;
}

.reorder {
  cursor: move !important;
}

#elements {
  margin-top: 20px;

  ol {
    li {
      div.indexed {
        padding: 3px;
        border: 1px solid #c1c1c1;
        background-color: #d1d1d1;
        @extend .border
      }
    }

    li.container-element {
      padding: 1px;
      border: 1px solid #b7daf0;
      background-color: #d5efff;
      @extend .border
    }
  }

  .container > .children {
    background-color: $gray-200;
  }
}

body.dragging, body.dragging * {
  cursor: move !important;
}
